body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f0f7;
    margin: 0;
    text-align: center;
}

header {
    background-color: #4b0082;
    color: white;
    padding: 2.5rem 0;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.titulo-sessao {
    color: #4b0082;
    margin-top: 40px;
    font-size: 2rem;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px 50px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(75, 0, 130, 0.1);
    width: 250px;
    border: 1px solid #e1d5f2;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

button {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    transition: background 0.3s;
}

/* Estilo para quando o botão estiver no carrinho */
.btn-remover {
    background-color: #e74c3c !important;
}

#carrinho {
    border: 3px dashed #4b0082;
    border-radius: 20px;
    margin: 20px 50px;
    min-height: 200px;
    background-color: #ffffff;
}

#carrinho-vazio {
    width: 100%;
    color: #9b59b6;
    font-style: italic;
    padding-top: 80px;
}

.mensagem {
    font-weight: bold;
    margin-top: 10px;
    color: #9b59b6;
    min-height: 20px;
}